<div class="side-bar-header">
  <div class="user-name">
    <a href="#">西村</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="chat-room">
      <a href="#">room1<a>
    </div>
  </div>
  <div class="room">
    <div class="chat-room">
      <a href="#">room2<a>
    </div>
  </div>
</div>